
.container-fluid{
  padding: 0 250px;
}


#top{






}
.navpad{
  padding-bottom: 20px;
}
.topnav{
  padding-bottom:0;
}
#sectiontwo{
  height: 500px;
}


.green{


position:relative;
overflow: hidden;



}

.green-phone{
height: 900px;
width: 1100px;

}
.phone{

top:0;
height: 1100px;
position: absolute;
transform: translateY(-14%);
left: 270px;
z-index: 9;
}
.bac{
right:100px;
position: absolute;
height: 1100px;
bottom: 200px;
top: -280px;
left: 0;


}
.second{
  background-color:#fcfcfc ;
  height: 800px;


}

.secrow{
  display: flex;
  height: auto;

}
.next{
  padding:200px 100px 0 250px;
}

.white-section{
  padding: 150px;
background-color:  #f7f7f7;

}

.mid{
  padding: 50px 0 50px 0;
}
.imgmid{
  padding-bottom: 50px;
}

.text{
  padding-top: 50px;
  padding-bottom: 50px;
    color: #a6a6a6;
}
.textt{
  padding-top: 50px;
  padding-bottom: 50px;

}
.art{
  background-color:#fcfcfc ;
  padding: 150px;
}
.footer{
padding:50px 150px 50px 150px;
  background-color: #3E436A;
  color: White;

}
.logo{

  filter: brightness(350%);
}


.artext{
  color: #bfbfbf;
}

.artimg{
  width: auto;
  height: 250px;
}

.btn-default {
  font-family: Raleway-SemiBold;
  font-size: 17px;
  color: white;
  line-height: 5px;
  border-radius: 40px;
  transition: all 0.3s ease 0s;
  background-image: linear-gradient(to right, hsl(136, 65%, 51%) , hsl(192, 70%, 51%));
  padding: 20px;
  width: 200px;
}
.btn-default:hover {
  color: #FFF;
opacity: 0.6;

}
.linkcolor{
  color:white;
  padding-right: 12px;
}
.linkcolor:hover{
    color: hsl(136, 65%, 51%);
}

.linktop{
  color: #bfbfbf;
  padding-bottom: 30px;
}
.linktop:hover{
border-bottom: 3px solid hsl(136, 65%, 51%);
color: black;
}

.arttit:hover{
  color: hsl(136, 65%, 51%);
}
.cardp{
  padding-bottom: 20px;
}

@media only screen and (max-width: 1000px) 
{
  body{
    text-align: center;
  }
  .next{
    padding: 50px;

  }
  .art{
    padding: 50px;
  }
  .phone{
    left:100px;
    height: 600px;
    transform: translateY(-30%);
    padding-left: 200px;
    padding-right: 200px;
  }
  .secrow{
    position: relative;
  }
  .green{
    height: 400px;
  }
  .btn-default{
    visibility: hidden;
  }
}
